/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require foundation
 *= require_self
 *= require_tree .
 */

/*body {
  background-image: url("blogbg.JPG");
  background-size: cover;
}*/
.main-section { background-color: rgba(242, 242, 242, 0.6); }
body, aside, #editor { font-family: 'Karla', sans-serif; }
h1, h2, h4, label.fly-out { font-family: 'Simonetta', cursive; }

h1 > a {
  font-size: 1.5rem;
  font-weight: 900;
}

#editor {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: solid 1px #cccccc;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  background-color: white;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  min-height: 50px;
}

#post_thought { max-height: 50px; }
footer {background-color: rgba(255, 255, 255, 0.5);}